@import "../../styles/vars.scss";

.tracksBtns {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 30px;

  @media (max-width: 400px) {
      flex-direction: column;
      row-gap: 15px;
  }
}

.btn {
  box-shadow: inset 0 0 3px $primaryColor;
  border: 1px solid $primaryColor;
  padding: 10px;
  font-size: 17px;
  line-height: 20px;
  min-width: 150px;
  background-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;

  &:hover {
    background-color: $primaryColor;
    color: #fff;
  }
  
  &:active {
    background-color: $btnColorActive;
    color: $textWhite
  }
}