.track {
  box-shadow: 0 0 3px #423c3c;
  border: 1px solid #423c3c;
  padding: 10px;
}

.trackTitle {
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 24px;
}

.trackName {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
}

.trackTime {
  font-size: 14px;
  line-height: 16px;
  color: #5b5a5a;
}
